[Desktop Entry]
Name=Transcribe!
GenericName=Music Transcriber
Type=Application
Icon=transcribe
Exec=transcribe %f
Terminal=false
Categories=AudioVideo;X-Sound;Audio;
