[Desktop Entry]
Type=Application
Name=Blake Stone
GenericName=First Person Shooting Game
Icon=bstone
Exec=/usr/games/bstone
Terminal=false
Categories=Game;ActionGame;
